@model LaptopData

<form asp-controller="LaptopPricePrediction" method="post" asp-action="PredictPrice">
    <!-- Input fields for laptop specs -->
    <label>CPU:</label>
    <input type="text" asp-for="CPU" /> <br />

    <label>GHz:</label>
    <input type="number" asp-for="GHz" step="0.01"/> <br />

    <label>GPU:</label>
    <input type="text" asp-for="GPU" /> <br />

    <label>RAM:</label>
    <input type="number" asp-for="RAM" /><br />

    <label>RAM Type:</label>
    <input type="text" asp-for="RAMType" /><br />

    <label>Screen (size):</label>
    <input type="number" asp-for="Screen" step="0.1" /><br />

    <label>Storage:</label>
    <input type="number" asp-for="Storage" /><br />

    <label>SSD:</label>
    <input type="checkbox" asp-for="SSD" /><br />

    <label>Weight:</label>
    <input type="number" asp-for="Weight" step="0.01" /><br />

    <input type="submit" value="Predict Price" />

</form>

@if (ViewBag.PredictedPrice != null)
{
    <p>Predicted Price: @ViewBag.PredictedPrice </p>
}